/* Navbar.css */

nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column; /* Chuyển sang kiểu dọc */
  padding: 10px;
  background-color: white;
  width: 100%; /* Đặt chiều rộng của nav là 100% */
  border-bottom: 1px solid black; /* Thêm border bottom */
}



.logo-container img {
  width: 100px; /* You can adjust the width as needed */
  height: auto; /* Maintain the aspect ratio */
}


.icons, .nav-list {
  display: flex;
  align-items: center;
  width: 100%; /* Đặt chiều rộng của .icons và .nav-list là 100% */
}

.icons img {
  height: 30px;
  width: 40px;
  cursor: pointer;
  margin-left: 30px;
  margin-right: 10px; 
  transition: transform 0.3s ease;
}

.icons img:hover {
  transform: scale(1.2);
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
  background-color: white; 
  border-radius: 5px; /* Bo tròn góc */
  padding: 8px; /* Khoảng trống xung quanh */
  width: 65%; /* Đặt chiều rộng của search-container là 65% */
}

.search-container img {
  height: 20px;
  width: auto;
  position: absolute;
  left: auto; /* Đặt left là auto để icon search nằm ở cuối khung input */
  right: 10px; /* Khoảng cách giữa icon và phía bên phải */
}

.search-container input {
  flex: 1; /* Kích thước linh hoạt để chiếm toàn bộ không gian còn lại */
  padding: 8px;
  padding-left: 30px;
  border: none; /* Loại bỏ đường viền */
  background-color: transparent; /* Background trong suốt */
  outline: none; /* Loại bỏ đường viền xung quanh khi focus */
  color: black; /* Màu chữ đen */
  border: 1px solid black;
  width : 100%; /* Đặt chiều rộng của input là 100% */
}

.nav-list ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row; /* Giữ nguyên kiểu hiển thị dọc */
  flex-wrap: wrap; /* Cho phép các mục xuống dòng khi không đủ không gian */
  justify-content: flex-start; /* Canh giữa theo chiều ngang */
  align-self: flex-start; /* Đặt align-self là flex-start để .nav-list nằm sát bên trái */
  width: 100%; /* Đặt chiều rộng của ul là 100% */
}

.nav-list li {
  margin-bottom: 10px; /* Khoảng cách giữa các dòng */
  margin-left: 35px; /* Khoảng cách giữa các mục */
}

a {
  text-decoration: none;
  color: black;
  position: relative;
  transition: color 0.3s;
}

a::after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background-color: black;
  transition: width 0.3s;
}

a:hover {
  color: blue;
}

a:hover::after,
a:focus::after,
a:active::after {
  width: 100%;
}
.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  transition: transform 0.3s ease;
 
  
  margin-left: 30px;
  margin-right: 10px; 

}
.icon{
  height: 25px;
  width: 30px;
}
.icon-button:hover{
  transform: scale(1.2);
}