.MuiTableRow-root > * {
  padding: 10px;
}

.MuiTableRow-root.MuiTableRow-head > * {
  font-weight: bold !important;
}

.Table td,
th {
  border: none !important;
}

.Table:first-child {
  border-radius: 0.7rem !important;
}
.status {
  padding: 8px;
  border-radius: 9px;
}

.Details {
  color: #00b5ff !important;
}

@media screen and (max-width: 1200px) {
  .Table {
    width: 170%;
    margin-top: 2rem;
  }
}


@media screen and (max-width: 768px) {
  .Table{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23rem;
  }
}

.Details {
  cursor: pointer;
  transition: background-color 0.3s, border-bottom 0.3s;
}

.Details:hover {
  background-color: #ddd;
}

.Details.clicked {
  background-color: #a0a0a0;
  color: #fff;
  border-bottom: 2px solid #fff; /* Adjust the color and thickness as needed */
}

/* Additional styles for the detailed information section */
.DetailsDetails {
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 10px;
}

.DetailsDetails p {
  margin-bottom: 10px;
}

/* Add more styles as needed */

